/dsbackend/__pycache__/dspyglet.cpython-38.pyc
/build/DrawingSapiensMainWindow/Analysis-00.toc
/build/DrawingSapiensMainWindow/base_library.zip
/build/DrawingSapiensMainWindow/DrawingSapiensMainWindow.exe.manifest
/build/DrawingSapiensMainWindow/EXE-00.toc
/build/DrawingSapiensMainWindow/PKG-00.pkg
/build/DrawingSapiensMainWindow/PKG-00.toc
/build/DrawingSapiensMainWindow/PYZ-00.pyz
/build/DrawingSapiensMainWindow/PYZ-00.toc
/build/DrawingSapiensMainWindow/Tree-00.toc
/build/DrawingSapiensMainWindow/Tree-01.toc
/build/DrawingSapiensMainWindow/warn-DrawingSapiensMainWindow.txt
/build/DrawingSapiensMainWindow/xref-DrawingSapiensMainWindow.html
/dist/DrawingSapiensMainWindow.exe
/dist/DrawingSapiensMainWindow.zip
/DrawingSapiensMainWindow.spec
/dsbackend/__pycache__/dspyqt5.cpython-38.pyc
